h1 {color: black; }
h2 {color: black; }
h3 {color: black; }

#container
{
    position:		absolute;
    width:              95%;
/*    left:		50%;
    margin-left:	-550px; */
margin-left: 10px;
    margin-bottom:	15px;
    padding-left:	5px;
    padding-bottom:	10px;
    border:		1px solid;
}

#mainPanel
{
    position:       relative;
    width:		100%;
}

#bannerContent {
    font-size:      140%;
}

/* Home page styles	*/

.homeContent
{
    position:           relative;
    width:		98%;
    text-align:		center;
}

.homeImage {
    width:		83%;
    padding-top:        12px;
    margin:             auto;
}

.homeText {
    text-align:         left;
    padding-left:       5px;
}

.homeImage img {
    max-width:          100%;
    height:             auto;
}

.homeCollectList
{
    position:		relative;
    width:		98%;
}

.homeColImage {
    max-width:          98%;
    height:             auto;
}

.homeColHover {
    max-width:          98%;
    height:             auto;
    opacity:            0.5;
    display:            none;
}

.collectImage {                /* Image for the collection */
    width:		48%;
    float:		left;
    text-align:		center;
}

.collectImage img {
    max-width:  100%;
}

.collectText {
    widtb:          46%;
    padding:        30px 0px 10px 0px;
}

.pictureDiv
{
    width:		48%;
    padding-top:	12px;
    float:		left;
    text-align:		center;
    height:		610px;
}

.pictureDiv img {
    width:          98%;
    height:         290px;
    object-fit:     contain;
}

.pictureDiv button{
    font-size:          18px;
    background-color:	#ffe699;
    color:		#cc0000;
    padding:            2px 8px;
}
.collTxt
{
    position:		relative; 
    top:		-200px;
    padding-left:	20px;
    width:		90%;
    display:		none;
    background-color:	white;
    border:		solid 1px;
    opacity:		1;
}

.picImage               /* Only used in events */
{
    position:		relative;
    float:		left;
    text-align:		center;
    width:		32%;
}

#largeImage
{
    width:		94%;
    margin-left:	3%;
    text-align:		center;
}

.contact2 {
    width:      350px;
    float:      left;
}

.signupButton{
    font-size:          16px;
    background-color:	#ffe699;
    color:		#cc0000;
    padding:            2px 8px;
    eidth:              200px;
}

@media screen and (min-width: 750px) {
    .contact2 {
        width:      48%;
        float:      left;
    }
}

@media screen and (min-width: 850px) {
    .homeContent {
        width:		27%;
        text-align:     center;
        float:          left;
    }
    .homeCollectList {
        width:		71%;
        float:          right;
    }
    .homeImage {
        width:		100%;
        float:          left;
    }

    .collectImage {
        width:          31%;
    }
    .homeColImage {
        max-height:     237px; 
        max-width:      200px;
    }
    .collectText {
        width:          70%;
        padding:        25px 5px 10px 5px;
    }
    .pictureDiv {
        width:          31%;
        height:          735px;
    }
    .pictureDiv img {
        height:         350px;
    }

}

@media screen and (min-width: 1100px) {  /* Desktop styles */
    #container {
        width:		1100px;
        left:		50%;
        margin-left:	-550px;
    }
    .homeContent {
        width:		26%;
        float:          left;

    }
    .homeImage {
        width:		100%;
    }

    .collectImage {
        width:          31%;
        padding-left:	12px;
        float:          left;
    }
    .homeCollectList {
        width:          72%;
        float:		right;
    }
    .pictureDiv {
        height:          735px;
    }
}

@media screen and (min-width: 650px) and (max-width: 849px) {
    .homeImage {
        width:		27%;
        float:          left;
    }

    .homeText {
        width:          71%;
        float:          right;
    }
    .pictureDiv {
        height:          735px;;
    }
    .pictureDiv img {
        height:         390px;
    }
}

/*  Styles for events */

#eventPanel
{
    width:		80%;
    margin-left:	10%;
}

/*	Styles for forms */

.prompt
{
    position:           absolute;
    left:		40px;
    width:		300px;
}

.input
{
    position:           absolute;
    left:		300px;
}

/*	Footer styles	*/
.jlink
{
    text-align: 	center;
    color:		white;
}

p.jlink a 
{
    color: 		#efe8dc;
}
#footer
{
    clear: 		both; 
    border:             1px solid; 
    background-color:	black;
    margin-right:	5px;
}

/* Admin styles */

.logPrompt
{
        position: 	absolute;
        left:		100px;
}
.logData
{
        position: 	absolute;
        left:		300px;
}
#errors
{
        position: 	absolute;
        left:		100px;
        color:		red;
}
