h1
{
    color:      black;
}

h2
{
    color:      black;
}

h3
{
    color:      black;
}

#container
{
    position:		absolute;
    width:		1100px;
    left:		50%;
    margin-left:	-550px;
    margin-bottom:	15px;
    padding-left:	5px;
    padding-bottom:	10px;
    border:		1px solid;
}

#mainPanel
{
    width:		100%;
}

.homeLeft
{
    width:		27%;
    float:		left;
    text-align:		center;
}
/*
.ncPic
{
    width:              24%;
    float:              left;
}

.ncText
{
    width:              48%;
    float:              left;
    padding-right:      5px;
}
*/
.ncSignup
{
    width:              24%;
    float:              left;
    padding-left:       3px;
}

/*	Collections styles	*/

.homeCollect
{
    position:		relative;
    float:		left;
    width:		72%;
}

.collectImage
{
    width:		31%;
    padding-left:	12px;
    padding-top:	12px;
    float:		left;
    text-align:		center;
}

.collectImageH
{
    width:		31%;
    padding-top:	12px;
    float:		left;
    text-align:		center;
    height:		680px;
}

.collTxt
{
    position:		relative; 
    top:		-200px;
    padding-left:	20px;
    width:		90%;
    display:		none;
    background-color:	white;
    border:		solid 1px;
    opacity:		1;
}

.picture		/* Holds one picture and its text */
{
    position:		relative; 
    width:		100%;
}

.picDets
{
    position:		relative; 
    width:		35%;
    float:		left;
}

.picImage
{
    position:		relative;
    float:		left;
    text-align:		center;
    width:		32%;
}

#largeImage
{
    width:		94%;
    margin-left:	3%;
    text-align:		center;
}

/*  Styles for events */

#eventPanel
{
    width:		80%;
    margin-left:	10%;
}

/*	Styles for forms */

.prompt
{
    position:           absolute;
    left:		40px;
    width:		300px;
}

.input
{
    position:           absolute;
    left:		300px;
}

/*	Footer styles	*/
.jlink
{
    text-align: 	center;
    color:		white;
}

p.jlink a 
{
    color: 		#efe8dc;
}
#footer
{
    clear: 		both; 
    border:             1px solid; 
    background-color:	black;
    margin-right:	5px;
}

/* Admin styles */

.logPrompt
{
        position: 	absolute;
        left:		100px;
}
.logData
{
        position: 	absolute;
        left:		300px;
}
#errors
{
        position: 	absolute;
        left:		100px;
        color:		red;
}
